:root {
  --main: #e8f8f8;
  --accent: #1b3532;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: center;
  background-image: url(../images/bg-1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Garamond, serif;
  color: var(--accent);
  transition: background-color 0.5s ease;
}

h2 {
  font-weight: 60;
  font-size: 1.8em;
  margin: 1em;
  outline: none;
}

#audio-btn {
  top: 1em;
  width: 2.5em;
  height: 2.5em;
}

#bg-btn {
  bottom: 1em;
  width: 2em;
  height: 2em;
}

#audio-btn,
#bg-btn {
  position: absolute;
  right: 1em;
  padding: 1px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

#audio-btn:focus,
#bg-btn:focus {
  outline: 0;
}

#audio-icon,
#bg-icon {
  width: 25px;
  height: 25px;
}

#bg-icon {
  filter: invert(100);
}

.bg-menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 1em;
  right: 3.5em;
  height: 10vh;
  width: 170px;
}

.bg-option {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 75px;
  width: 75px;
  border: white 2px solid;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

#river {
  background-image: url("../images/bg-1.png");
}

#mountain {
  background-image: url("../images/bg-2.png");
}

#window {
  background-image: url("../images/bg-3.png");
}

#timer-container {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  padding: 1em;
  border: var(--accent) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#timerInput {
  font-family: Garamond, serif;
  color: var(--accent);
  text-align: center;
  background-color: transparent;
  font-size: 10vh;
  width: 20vw;
  height: 12vh;
  padding: 0;
  margin: 2vh 0;
  border: var(--accent) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
}

#timerClock {
  font-size: 10vh;
  width: 100%;
  height: 12vh;
  margin: 2vh 0;
  text-align: center;
}

#timer-btns button {
  cursor: pointer;
}

#clear-timer-btn,
#subtract-time-btn,
#add-time-btn {
  background-color: inherit;
  border: none;
  outline: none;
}

.stop-timer-symbol {
  border: solid 13px var(--accent);
}

.play-timer-symbol {
  border-style: solid;
  border-width: 15px 0px 15px 25px;
  border-color: transparent transparent transparent var(--accent);
}

.timer-btns-symbol {
  color: var(--accent);
  font-size: 30px;
  margin: 0 10px;
}

#plans {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--accent) solid 1px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#plans > textarea {
  font-family: Garamond, serif;
  background-color: transparent;
  color: var(--accent);
  text-align: center;
  min-width: 30vw;
  min-height: 20vh;
  padding: 1em;
  font-size: 24px;
  border-width: 0;
}

#timer-btns {
  display: flex;
}

#subtract-time-btn,
#stop-timer,
#add-time-btn,
textarea {
  outline: none;
}

input[type="text"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 0 3px var(--accent);
}
